
 body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    transition: all 0.1s;
   
}
p{
    color:gray;
}
body a{
    text-decoration: none;
    color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: url("https://images.unsplash.com/photo-1598125443421-779f98323fe4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Roboto;
    font-size: 16px;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 2rem;
    height: 100%;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
    padding: 12% 0;
}

.card {
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 25px;
}

.card_title {
    font-weight: normal;
    font-size: 36px;
    margin-bottom: 20px;
}

.pricing {
    font-weight: normal;
    font-size: 96px;
    color:white;
}

.pricing .small{
    font-size: 16px;
    color:rgb(188, 188, 188);
}

hr {
    margin-top: 70px;
}

.features {
    margin: 40px 0;
    list-style-position: inside;
}

.features li {
    padding-bottom: 10px;
}

a.cta_btn {
    width: 100%;
    display: inline-block;
    text-align: center;
    background: rgba(21, 23, 24, 0.7);
    border-radius: 29px;
    padding: 20px 0;
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    transition: background .3s ease;

 margin-top: 10px;
}

a.cta_btn:hover {
    background: #000;
}

@media only screen and (max-width: 1024px) {
    .grid {
        grid-template-columns: 1fr 1fr;
        gap: 2%;

    }
}

@media only screen and (max-width: 425px) {
    .grid {
        grid-template-columns: 1fr;
        gap: 2%;
        padding-bottom: 25%;
    }

    .container {
        padding: 0 1rem;
    }

    body {
        font-size: 14px;
    }

    .card {
        padding: 30px;
    }

    .card_title {
        font-size: 24px;
        margin-bottom: 12px;
    }

    .pricing {
        font-size: 52px;
    }

    hr {
        margin-top: 50px;
    }

    a.cta_btn {
        font-size: 11px;
    }
}
   
   .logo{
        
       padding:15px 20px;
       font-family:arial;
       font-weight: bold;
       background-color: rgb(255, 154, 32);
       border-radius: 19px;
       margin:17px;
       box-shadow:     5px 5px 12px -3px    #ba0101;
       width: fit-content;
       padding-right: 25px;
       padding-left: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
   }
   h2{
    font-family: arial;
    font-size: 40px;
    padding-left: 20px;
    background-image: url();
   margin-top: 10px;
   }
   span{
    color:rgb(255, 154, 32);
    filter: drop-shadow(0px 0px 7px rgb(0, 0, 0));
   }
   .h22{
font-size: 20px;
font-family: arial;
padding-left: 6px;
text-align: left;
margin-bottom: 5px;
   }
   .h44{
    font-size: 12px;
    font-family: arial;
    color: rgb(101, 101, 101);
    padding-left: 6px;
    text-align: left;
    margin-top: 0px;
   }
   p{
    font-family: arial;
    font-size: 12px;
    color:rgb(69, 69, 69);
    padding-left : 40px;
    padding-right:40px;
    line-height: 19px;
    font-weight: light;
    display: block;
   }
    #wedo{
        font-size: 30px;
        text-align: center;
        font-family: arial;
    }
   .web-main{
    margin-left: 20px;
    margin: 20px;
 padding-bottom: 20px;
   height: 360px;
  
   background-color: rgb(251, 251, 251);
   border-radius: 23px;
   align-items: center;
   vertical-align: middle;
   box-shadow:     5px 5px 12px -3px    #eec9ff;
   text-align:center;
   border: 1px solid rgb(255, 255, 255);
   }
   
   button{
    background-color: rgb(0, 0, 103);
    color:white;
    border: none;
    border-radius: 25px;
    padding: 14px 20px;
    font-weight: bold;
    font-family: arial;
    transition: 0.2s;
    margin-left:9px;
    margin-right:9px ;
   }
   button:hover{
    box-shadow: 0px 0px 20px 1px #8e93f9;
   }
   .price:hover{
    box-shadow: 0px 0px 20px 1px #f7c954;
   }
   button:active{
    background-color: #7d00fb;
   }
   html{
       background-color:#EAF2FF;
       display: flex;
       flex-wrap: wrap;
       width: 100%;
      
   }
   .contact-btn{
    padding:15px 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    margin-left: 30%;
    margin-top: 30px;
    margin-bottom: 30px;
   }
   .contactp{
    text-align: left;
    justify-content: left;
    transition: 0.12s;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-top: 40px;
   }
   .contactp .contact-btn{
    margin:auto;
    background-color:springgreen;
    color:black;
    box-shadow: 1px 2px 15px 4px #70f193 ;
    transition: all 0.2s;
    border: 1px solid black;
   }
   .contactp .contact-btn:active{
    background-color: gray;
   }
    .contactp .contact-btn:hover{
        background-color: #121de7;
        color:rgb(255, 255, 255);
        box-shadow: 1px 2px 15px 1px #121de7;
        border: none;
        border: 1px solid #121de7;
        
  
   }
   .footer{
    
    align-items: center;
    vertical-align: middle;
    justify-content: center;
    height: 465px;
    background-color: #000340;
   }
   .footer div{
    display: block;
    padding-top: 26px;
    padding-left: 6%;
   

   }
   .footer a{
    text-decoration: none;
    font-family: arial;
    color:white;
    font-size: 14px;
    vertical-align: top;
  
  
   }
   @media (min-width:765px) {
    .main{
        display: flex;
        gap:auto;
       
    }
    h2{
        font-size: 6.8rem;
    }
    .logo{
        margin: 40px 0px 0px 40px;
        padding: 22px 30px;
    }
   #web-main{
    align-items: center;
    text-align: center;
   }
   .scroll{
    display: block;
   }
   
   .contactp{
    text-align:left;
    margin-left: 20px;
   }
   .contactp .contact-btn{
    margin-left:2rem;
   }
   

   .web-main{
    margin-left: 20px;
    margin: 20px;
 padding-bottom: none;
   height: 360px;
  
   background-color: rgb(251, 251, 251);
   border-radius: 23px;
   align-items: center;
   vertical-align: middle;
   box-shadow:     5px 5px 12px -3px    #eec9ff;
   text-align:center;
   border: 1px solid rgb(255, 255, 255);
   }
   }
